<h1>Edit Event response</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.event_response_path(@conn, :update, @event_response)) %>

<span><%= link "Back", to: Routes.event_response_path(@conn, :index) %></span>
